{% extends "layout.html" %}
{% block title %}Movies App{% endblock %}
{% block page %}
    <ul id="slide-out"  class="sidenav sidenav-fixed">
        <nav class="purple">
            <div class="nav-wrapper"></div>
        </nav>

        <div id="movieList" class="collection">
            <a href="/movies/1" class="collection-item">Movie Title</a>
        </div>

    </ul>
{% endblock %}

{{ super() }}

{% block content %}

<style>
    aside{
        overflow-y: scroll;
    }

    body {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      body {
        padding-left: 0;
      }
    }
         
</style>

    <main class="col">
        {% if movie == None %}
            <div class="row">
                <h1>Select A Movie</h1>
            </div>
        {% else %}
            <!-- Movie Detail Here -->
              <div class="row">
                <h1>Movie Title</h1>
            </div>

            <div class="row">
                      <div class="col">
                          <img src="https://resizing.flixster.com/gxRJwetP1eNIrPR6xlWBfD_VaFc=/180x267/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/72/11177246_ori.jpg">
                      </div>
                      <div class="col">
                          <p> Release Date : 04-Apr-14</p>
                          <p> Studio : Marvel Studios</p>
                          <p> Gross : $714,766,572.00 </p>
                          <p> Rating : PG-13</p>
                      </div>
            </div>

            <div class="row">
                <h1>Comments</h1>
                  

                    <li class="collection-item">
                          Username: Comment
                          <a href="/deleteComment/29" class="secondary-content">
                                <i class="material-icons">delete</i>
                          </a>
                    </li>


                <form class="col s12" action="/comments" method="POST">
                    <div class="row">
                        <input value="{{movie.id}}" name="movie_id" type="hidden">
                        <div class="input-field col s12">
                            <input placeholder="Placeholder" value="Bob" name="username" type="text" class="validate">
                            <label for="first_name">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea name="text" class="materialize-textarea"></textarea>
                            <label for="textarea1">Text</label>
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right purple" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

                <ul id="commentList" class="collection with-header">
                   
                </ul>
            </div>
        {% endif %}
       
     
    </main>

    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

    </script>
{% endblock %}