{% extends "layout.html" %}

{{ super() }}

{% block content %}
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <nav>
            <div class="nav-wrapper green">
                <a href="#" style="margin-left: 10px" class="brand-logo green left">Laptop Place</a>
            </div>
        </nav>
        <section class="container">

            <form id="filter" method="GET" action="/">
                <h1>Filter</h1>

                <div class="input-field col s12">
                    <select name="brand">
                        <option selected>Any</option>
                        <option>HP</option>
                        <option>Lenovo</option>
                        <option>Huawei</option>
                        <option>Dell</option>
                        <option>Asus</option>
                        <option>Apple</option>
                        <option>Acer</option>
                        <option>Microsoft</option>
                        <option>Any</option>
                    </select>
                    <label>Brand</label>
                </div>

                <div class="input-field col s12">
                    <select name="graphics_brand">
                        <option selected>Any</option>
                        <option>Intel</option>
                        <option>Nvidia</option>
                        <option>AMD</option>
                    </select>
                    <label>GPU Brand</label>
                </div>

                <div class="input-field col s12">
                    <select name="processor_brand">
                        <option selected>Any</option>
                        <option>Intel</option>
                        <option>AMD</option>
                    </select>
                    <label>CPU Brand</label>
                </div>

                <div class="input-field col s12">
                    <select name="display_size">
                        <option selected>Any</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                    </select>
                    <label>Screen Size</label>
                </div>

                <label for="price_range">Price Range $USD</label>
                <input type="range" oninput="price_output.value=this.value" value="500" step="100" id="price_range" name="price_range" min="500" max="13000" />
                <output id="price_output" value="price_range.value" for="price_range">500</output>
            
                <div class="input-field">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                    </button>
                </div>

            </form>

            <form id="insert" method="POST" action="/insertLaptop">

                <h1>Create</h1>

                <div class="input-field col s12">
                    <input placeholder="cpu name" name="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>

                <div class="input-field col s12">
                <select name="brand">
                    <option>HP</option>
                    <option>Lenovo</option>
                    <option>Huawei</option>
                    <option>Dell</option>
                    <option>Asus</option>
                    <option>Apple</option>
                    <option>Acer</option>
                    <option>Microsoft</option>
                </select>
                <label>Brand</label>
            </div>
            
                <div class="input-field col s12">
                    <select name="graphics_brand">
                        <option>Intel</option>
                        <option>Nvidia</option>
                        <option>AMD</option>
                    </select>
                    <label>GPU Brand</label>
                </div>

                <div class="input-field col s12">
                    <select name="processor_brand">
                        <option>Intel</option>
                        <option>AMD</option>
                    </select>
                    <label>CPU Brand</label>
                </div>

                <div class="input-field col s12">
                    <select name="display_size">
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                    </select>
                    <label>Screen Size</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="price" name="price" type="number" class="validate">
                    <label for="price">Price</label>
                </div>
        
                <div class="input-field">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                    </button>
                </div>

            </form>
        </section>
    </ul>

    <main class="row">
        <article class="col s12">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>GPU Brand</th>
                    <th>CPU Brand</th>
                    <th>Screen Size</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
        
                <tbody>
                   
                </tbody>
            </table>
        </article>
    </main>
{% endblock %}