{% extends "layout.html" %}
{% block title %}Movies App{% endblock %}
{% block page %}
    <ul id="slide-out"  class="sidenav sidenav-fixed">
        <nav class="purple">
            <div class="nav-wrapper"></div>
        </nav>

        <div id="movieList" class="collection">
      
        </div>

    </ul>
{% endblock %}

{{ super() }}

{% block content %}

<style>
    aside{
        overflow-y: scroll;
    }

    body {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      body {
        padding-left: 0;
      }
    }
         
</style>

    <main class="col">
        {% if movie == None %}
            <div class="row">
                <h1>Select A Movie</h1>
            </div>
        {% else %}
            <!-- Movie Detail Here -->

            <div class="row">
                <h1>Comments</h1>

                <form class="col s12" action="/comments" method="POST">
                    <div class="row">
                        <input value="{{movie.id}}" name="movie_id" type="hidden">
                        <div class="input-field col s12">
                            <input placeholder="Placeholder" value="Bob" name="username" type="text" class="validate">
                            <label for="first_name">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea name="text" class="materialize-textarea"></textarea>
                            <label for="textarea1">Text</label>
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right purple" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

                <ul id="commentList" class="collection with-header">
                   
                </ul>
            </div>
        {% endif %}
       
     
    </main>

    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

    </script>
{% endblock %}